.win {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: black;

    animation: blink 28s infinite ease-in;
    transition: none;
}

@keyframes blink {
    0% {
        background-color: black;
    }
    10% {
        background-color: white;
    }
    20% {
        background-color: black;
    }
    30% {
        background-color: white;
    }
    40% {
        background-color: black;
    }
    50% {
        background-color: white;
    }
    55% {
        background-color: black;
    }
    60% {
        background-color: white;
    }
    65% {
        background-color: black;
    }
    70% {
        background-color: white;
    }
    75% {
        background-color: black;
    }
    80% {
        background-color: white;
    }
    85% {
        background-color: black;
    }
    90% {
        background-color: white;
    }
    95% {
        background-color: black;
    }
    100% {
        background-color: white;
    }
}

.win-bg {
    background: url('/win.jpeg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-weight: 900;
    font-size: 32px;

    color: #fcd112;

    transform-origin: center;

    background-color: black;

    animation: swingZoom 1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

@keyframes swingZoom {
    0% {
      transform:scale(1) translateX(-50%);
    }
    25% {
      transform:scale(2) translateX(-40%);
    }
    50% {
      transform: scale(1) translateX(-50%);
    }
    75% {
      transform: scale(1.1) translateX(-40%);
    }
    100% {
      transform: scale(1) translateX(-50%);
    }
}